# Neural Network Spotify Playlist

### Data Pre-Processing

Prepare the data for the neural network. This includes splitting the data into a training and testing dataset, Scaling the data, and encoding the categorical target values

In [268]:
from pathlib import Path

import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.decomposition import PCA

import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow import keras
from tensorflow.keras import layers
import tensorflow as tf

In [269]:
#reading into compiled csv
data = Path("Resources/spotify_main_raw_data.csv")
df = pd.read_csv(data)
df.shape

(388, 22)

In [270]:
#dropping irrelevant columns
raw_data = df.drop(['Unnamed: 0',"track","type","id","uri","track_href","analysis_url","time_signature"],axis=1)

# Encoding the Artist's column
spot_df = pd.get_dummies(raw_data, columns=["artist"])
spot_df.head()

,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,...,artist_WizKid,artist_YOASOBI,artist_YONAKA,artist_Yang Da Il,artist_ZZ Top,artist_Zion.T,artist_blink-182,artist_dj poolboi,artist_gianni & kyle,artist_rum.gold
0,0.564,0.364,10,-5.845,0,0.0631,0.75900,0.000000,0.0839,0.591,...,0,0,0,0,0,0,0,0,0,0
1,0.701,0.519,1,-6.382,1,0.0516,0.31400,0.000000,0.2070,0.498,...,0,0,0,0,0,0,0,0,0,0
2,0.309,0.740,7,-5.917,0,0.0456,0.00854,0.025800,0.1190,0.166,...,0,0,0,0,0,0,0,0,0,0
3,0.552,0.637,5,-6.568,1,0.0445,0.46400,0.000016,0.1360,0.333,...,0,0,0,0,0,0,0,0,0,0
4,0.655,0.885,7,-4.116,1,0.0438,0.00117,0.000473,0.0448,0.938,...,0,0,0,0,0,0,0,0,0,0

In [271]:
spotify_data = spot_df.drop(["playlist"], axis=1)
spotify_data.head()

,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,...,artist_WizKid,artist_YOASOBI,artist_YONAKA,artist_Yang Da Il,artist_ZZ Top,artist_Zion.T,artist_blink-182,artist_dj poolboi,artist_gianni & kyle,artist_rum.gold
0,0.564,0.364,10,-5.845,0,0.0631,0.75900,0.000000,0.0839,0.591,...,0,0,0,0,0,0,0,0,0,0
1,0.701,0.519,1,-6.382,1,0.0516,0.31400,0.000000,0.2070,0.498,...,0,0,0,0,0,0,0,0,0,0
2,0.309,0.740,7,-5.917,0,0.0456,0.00854,0.025800,0.1190,0.166,...,0,0,0,0,0,0,0,0,0,0
3,0.552,0.637,5,-6.568,1,0.0445,0.46400,0.000016,0.1360,0.333,...,0,0,0,0,0,0,0,0,0,0
4,0.655,0.885,7,-4.116,1,0.0438,0.00117,0.000473,0.0448,0.938,...,0,0,0,0,0,0,0,0,0,0

In [272]:
# Standardize data
spotify_scaled = StandardScaler().fit_transform(spotify_data)

In [273]:
spotify = np.array(spotify_data)
spotify

array([[ 0.564,  0.364, 10.   , ...,  0.   ,  0.   ,  0.   ],
       [ 0.701,  0.519,  1.   , ...,  0.   ,  0.   ,  0.   ],
       [ 0.309,  0.74 ,  7.   , ...,  0.   ,  0.   ,  0.   ],
       ...,
       [ 0.562,  0.934,  5.   , ...,  0.   ,  0.   ,  0.   ],
       [ 0.743,  0.446,  4.   , ...,  0.   ,  0.   ,  0.   ],
       [ 0.503,  0.581,  6.   , ...,  0.   ,  0.   ,  0.   ]])

In [274]:
# Initialize PCA model
pca = PCA(n_components=8)

# Get two principal components for the data.
spotify_pca = pca.fit_transform(spotify_scaled)

df_spotify_pca = pd.DataFrame(
    data=spotify_pca, columns=["principal component 1", 
                               "principal component 2", 
                               "principal component 3", 
                               "principal component 4", 
                               "principal component 5", 
                               "principal component 6",
                               "principal component 7",
                               "principal component 8"]
                                                        )
df_spotify_pca.head()

,principal component 1,principal component 2,principal component 3,principal component 4,principal component 5,principal component 6,principal component 7,principal component 8
0,1.959914,-2.099457,1.613181,-2.141276,0.641650,-1.553137,-0.752967,0.025689
1,0.399435,-1.382823,-1.694639,0.929048,-0.284802,-0.582749,0.280511,1.607809
2,-0.077780,6.115142,1.029650,-2.624904,-3.733702,-2.526139,6.764883,1.909516
3,0.598118,0.146043,-0.503194,0.103197,0.181943,-1.304971,0.950617,0.385007
4,-2.465214,-0.972865,-1.651905,-1.212379,0.217306,-0.873048,-0.719143,-1.515067

In [275]:
# Fetch the explained variance
variance_ratio = pca.explained_variance_ratio_

print(f"We have {round((sum(variance_ratio)*100),2)}% of the information in the original dataset")

We have 6.16% of the information in the original dataset

In [276]:
#appending playlist column back on PCA list
df_spotify_pca['playlist'] = raw_data['playlist']

In [277]:
df_spotify_pca

,principal component 1,principal component 2,principal component 3,principal component 4,principal component 5,principal component 6,principal component 7,principal component 8,playlist
0,1.959914,-2.099457,1.613181,-2.141276,0.641650,-1.553137,-0.752967,0.025689,ryan
1,0.399435,-1.382823,-1.694639,0.929048,-0.284802,-0.582749,0.280511,1.607809,ryan
2,-0.077780,6.115142,1.029650,-2.624904,-3.733702,-2.526139,6.764883,1.909516,ryan
3,0.598118,0.146043,-0.503194,0.103197,0.181943,-1.304971,0.950617,0.385007,ryan
4,-2.465214,-0.972865,-1.651905,-1.212379,0.217306,-0.873048,-0.719143,-1.515067,ryan
...,...,...,...,...,...,...,...,...,...
383,-1.278442,0.882856,-0.582994,1.699564,6.120494,-1.307550,2.298278,1.830062,alex
384,-0.175223,1.371982,-1.161396,1.575228,1.749118,-0.786879,1.223513,1.170210,alex
385,-1.683592,0.966131,-1.081243,-0.119837,0.121064,-0.892703,0.879773,0.536437,alex
386,0.513077,-0.221637,0.871063,-0.531362,0.187205,0.630854,0.386379,2.137302,alex
387,0.281043,-0.454491,-0.623684,0.220016,0.269475,-0.605079,0.648664,0.494352,alex

In [278]:
#multiclass classification
df_spotify_pca.playlist.value_counts()

sarah    100
terry     99
ryan      84
alex      55
abdul     50
Name: playlist, dtype: int64

In [279]:
# Define the features X set and the target y vector
X = df_spotify_pca.drop("playlist",axis=1)
y = df_spotify_pca.loc[:, ["playlist"]]

In [280]:
# Split the dataset into training and testing data
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

# Acknowledge the dimension of both test and training data
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((291, 8), (97, 8), (291, 1), (97, 1))

In [281]:
# Scale the training and testing input features using StandardScaler
X_scaler = StandardScaler()
X_scaler.fit(X_train)

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [282]:
# Apply One-hot encoding to the target labels
enc = OneHotEncoder()
enc.fit(y_train)

encoded_y_train = enc.transform(y_train).toarray()
encoded_y_test = enc.transform(y_test).toarray()
encoded_y_train[0]

array([1., 0., 0., 0., 0.])

# Build a Deep Neural Network

In [283]:
# Create a sequential model
model = Sequential()

In [284]:
# Add the first layer where the input dimensions are the X.shape[1] = 8 columns of the training data
model.add(Dense(50, activation='relu', input_dim = X.shape[1]))

# Add the 2nd layer where the input dimensions are the 12 columns of the training data
model.add(Dense(50, activation='relu', input_dim = 50))

# Add output layer
model.add(Dense(5, activation="softmax", input_dim = 50))

In [285]:
# The output layer has 8 columns that are one-hot encoded
y_train.playlist.value_counts()

# 5 output since there're 5 playlists
number_outputs = 5

In [286]:
# Compile the model using categorical_crossentropy for the loss function, the adam optimizer,
# and add accuracy to the training metrics
model.compile(optimizer="adam", loss="categorical_crossentropy", metrics=["accuracy"])

In [287]:
# Print the model summary
model.summary()

Model: "sequential_6"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_18 (Dense)            (None, 50)                450

 dense_19 (Dense)            (None, 50)                2550

 dense_20 (Dense)            (None, 5)                 255

=================================================================
Total params: 3,255
Trainable params: 3,255
Non-trainable params: 0
_________________________________________________________________

In [288]:
# Use the training data to fit (train) the model
# @NOTE: Experiment with the number of training epochs to find the minimum iterations required to achieve a good accuracy
model.fit(
    X_train_scaled,
    encoded_y_train,
    epochs=10,
    shuffle=True,
    verbose=2
)

Epoch 1/10
10/10 - 0s - loss: 1.5977 - accuracy: 0.2131 - 191ms/epoch - 19ms/step
Epoch 2/10
10/10 - 0s - loss: 1.5229 - accuracy: 0.2921 - 6ms/epoch - 600us/step
Epoch 3/10
10/10 - 0s - loss: 1.4666 - accuracy: 0.3918 - 6ms/epoch - 600us/step
Epoch 4/10
10/10 - 0s - loss: 1.4221 - accuracy: 0.4296 - 6ms/epoch - 600us/step
Epoch 5/10
10/10 - 0s - loss: 1.3813 - accuracy: 0.4536 - 7ms/epoch - 700us/step
Epoch 6/10
10/10 - 0s - loss: 1.3436 - accuracy: 0.4914 - 5ms/epoch - 500us/step
Epoch 7/10
10/10 - 0s - loss: 1.3113 - accuracy: 0.4880 - 6ms/epoch - 600us/step
Epoch 8/10
10/10 - 0s - loss: 1.2804 - accuracy: 0.5120 - 7ms/epoch - 700us/step
Epoch 9/10
10/10 - 0s - loss: 1.2532 - accuracy: 0.5326 - 6ms/epoch - 600us/step
Epoch 10/10
10/10 - 0s - loss: 1.2251 - accuracy: 0.5430 - 8ms/epoch - 781us/step

# Evaluate the Model on Test & Training Data

In [289]:
# Evaluate the model using the testing data
model_loss, model_accuracy = model.evaluate(X_test_scaled, encoded_y_test, verbose=2)
print(f"Normal Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

4/4 - 0s - loss: 1.4177 - accuracy: 0.4330 - 63ms/epoch - 16ms/step
Normal Neural Network - Loss: 1.417726755142212, Accuracy: 0.4329896867275238

In [290]:
y_index = y_test.index.values

y_tracks = []

#to identify which track has been selected for y_test
for index in y_index:
    track = df.at[index, "track"]
    y_tracks.append(track)

In [291]:
# Make predictions
predicted = model.predict(X_test_scaled)
predicted = enc.inverse_transform(predicted).flatten().tolist()

# creating a prediction table
results = pd.DataFrame({
    "Index": y_test.index.values,
    "Track": y_tracks,
    "Actual": y_test.playlist.values,
    "Predicted": predicted
})
results.head(10)

   Index                                           Track Actual Predicted
0     93  Leave Before You Love Me (with Jonas Brothers)  sarah     terry
1    179              This Town (feat. Sasha Alex Sloan)  sarah     sarah
2    127                                             4AM  sarah     sarah
3     62                               Some Type of Love   ryan      ryan
4    227                                   Light My Fire  terry     terry
5    329                                 Like I Love You  abdul     abdul
6    311                    Pullin Up (feat. The Weeknd)  abdul     sarah
7    258                               Don't You Want Me  terry     terry
8    120                      begin again - HEALTH Remix  sarah      ryan
9    173                                           Speak  sarah     sarah

In [292]:
# Print the Classification Report
from sklearn.metrics import classification_report
print(classification_report(results.Actual, results.Predicted))

              precision    recall  f1-score   support

       abdul       0.56      0.36      0.43        14
        alex       0.25      0.07      0.11        14
        ryan       0.31      0.28      0.29        18
       sarah       0.35      0.46      0.40        24
       terry       0.54      0.74      0.62        27

    accuracy                           0.43        97
   macro avg       0.40      0.38      0.37        97
weighted avg       0.41      0.43      0.41        97

In [293]:
## Evaluate the Model on Training Data

In [301]:
# Identifying data shape
X_train.shape, y_train.shape

((291, 8), (233, 5))

In [295]:
#using 20% of training data as validation data
-X_train.shape[0]*0.2

-58.2

In [297]:
#ADD VALIDATION DATA
#https://www.tensorflow.org/guide/keras/train_and_evaluate
x_val = X_train_scaled[-58:]
y_val = encoded_y_train[-58:]
x_train = X_train_scaled[:-58]
y_train = encoded_y_train[:-58]

In [298]:
x_val.shape,y_val.shape,x_train.shape,y_train.shape

((58, 8), (58, 5), (233, 8), (233, 5))

In [299]:
#We call fit(), which will train the model by slicing the data into "batches" of size batch_size, 
#and repeatedly iterating over the entire dataset for a given number of epochs.

print("Fit model on training data")
history = model.fit(
    x_train,
    y_train,
    batch_size=64,
    epochs=2,
    # We pass some validation for
    # monitoring validation loss and metrics
    # at the end of each epoch
    validation_data=(x_val, y_val),
)

Fit model on training data
Epoch 1/2
4/4 [==============================] - 0s 11ms/step - loss: 1.2069 - accuracy: 0.5322 - val_loss: 1.1951 - val_accuracy: 0.6379
Epoch 2/2
4/4 [==============================] - 0s 6ms/step - loss: 1.1967 - accuracy: 0.5408 - val_loss: 1.1911 - val_accuracy: 0.6552

In [300]:
history.history

{'loss': [1.2069461345672607, 1.1966825723648071],
 'accuracy': [0.5321888327598572, 0.540772557258606],
 'val_loss': [1.195135235786438, 1.1910666227340698],
 'val_accuracy': [0.6379310488700867, 0.6551724076271057]}